<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
* {
  box-sizing: border-box; /* Includes padding and borders in the element's width */
}
        body,div{
            padding:0;
            margin:0;
        }
        svg{
            font-size: 3rem;
            width: 4rem;
            height: 4rem
        }

        .logo{
            display:flex;
            align-items: center;
            gap: 2rem;
            color: #FFFFFF;
            font-size: 1rem;
            font-weight: 700;
            margin-left: 7rem;
        }

        header{
            width: 100%;
            background-color: #fcfdfd;
            display:flex;
            flex:1;
            color:black;

            position:fixed;
            top: 0;
            border-bottom: 1px solid #e4e4e7;


        }

        svg{
            color: #F5E6CC
        }

        .profile{
            margin-left: auto; 
            color: white;
            border-radius: 50%;
        }


        .controls{
            color:black;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo" style="color: black">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                <path strokeLinecap="round" strokeLinejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
              </svg>
              
            <h2>Share Nest</h2>
        </div>

        <% if (authenticated) { %>
            <button class="profile">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </button>
          <% } else { %>
            <div class="controls">
                <a href="/login"><button>Login</button></a>
                <a href="/sign-up"><button>Signup</button></a>
            </div>
            <!-- Optionally, you can display something else here when not authenticated -->
          <% } %>
          
      
            
    </header>
</body>
</html>