<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    svg{
        width: 3rem;
        height: 3rem;
        color:black;
    }

    input[type="file"] {
  display: none;
}

.container{
    margin-left: 3rem;

}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container1 svg {
    width: 10rem;
    height: 10rem;
    color: grey;

}

</style>
<body>
    <div class="container1">



        <% if (files.length === 0) { %>


            <div class="empty">

            <p>You don't have any files yet ):</p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                    </svg>
                </label>
                <input id="file-upload" type="file" name="file" />
                <button type="submit">Upload</button>
            </form>
            </div>

        </div>

        <% } else { %>
        
            <div class="container2">
            <p>You have the following files:</p>
            <ul>
                <% files.forEach(function(file) { %>
                    <li><%= file.name %> - <%= file.size %> bytes</li>
                <% }); %>
            </ul>

            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                    </svg>
                </label>
                <input id="file-upload" type="file" name="file" />
                <button type="submit">Submit</button>
            </form>
        </div>
        
        <% } %>
        

    </div>
</body>
</html>