<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #E8F5E9;

        }
    </style>
</head>
<body>
    <%-include('header')%>
    <%-include('home')%>

</body>
</html>