<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<style>
    .sidebar{
        width: 17vw;
        background-color: #2D3748;
        height: 100vh;
        color: #38B2AC;
        font-size: 1.2rem;
        display:flex;
        justify-content: center;
        position: fixed;
    top: 13%; /* Push sidebar below the header */
    left: 0;
    width: 250px; /* Adjust sidebar width */
    height: calc(100vh - 60px); /* Full height minus header */
    background-color: #333;
    overflow-y: auto; /* Allows scrolling inside the sidebar */
    }

    ul{
        margin-top: 2rem;
        display:flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;

    }
    a{
        color:white;
    }

    aside{
        /* height: 100vh; */
    }

    *{
        margin: 0;
        padding: 0;
    }
 
</style>

<body>
    <aside>
        <div class="sidebar">
            <!-- Folders list rendered dynamically -->
            <ul>
                <% folders.forEach(function(folder) { %>
                    <li>📁  <a href="/?folder=<%= folder.id %>"><%= folder.name %></a></li>
                <% }); %>
            </ul>
        </div>
    </aside>
</body>
</html>